/* STYLES FOR THE NAV COMPONENT */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #050505;
}

.nav p {
    float: left;
    color: rgb(253, 3, 3);
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.nav .logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(253, 0, 0);
    padding: 10px;

}

.nav p:hover {
    background-color: #f84e4e;
    color: #dbdcdd;

}

.nav p.active {
    background-color: rgb(255, 0, 0);
    color: white;

}

.nav-right {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}


@media screen and (max-width: 500px) {
    .nav p {
        float: none;
        display: block;
        text-align: center;
    }

    .nav-right {
        float: none;
        text-decoration: none;
    }
}